public/schema/match.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="company" type="companyType"/>

	<xs:complexType name="slotType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="shortcode" use="optional"/>
				<xs:attribute type="xs:string" name="description" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="companyType">
		<xs:sequence>
			<xs:element type="platoonType" name="platoon"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="side"/>
	</xs:complexType>

	<xs:complexType name="fireteamType">
		<xs:sequence>
			<xs:element type="slotType" name="slot" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="platoonType">
		<xs:sequence>
			<xs:element type="slotType" name="slot" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="squadType" name="squad" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="callsign"/>
	</xs:complexType>

	<xs:complexType name="squadType">
		<xs:sequence>
			<xs:element type="slotType" name="slot" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="fireteamType" name="fireteam" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="callsign" use="optional"/>
		<xs:attribute type="xs:string" name="frequency" use="optional"/>
		<xs:attribute type="xs:string" name="natosymbol" use="optional"/>
	</xs:complexType>
</xs:schema>
